{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">

                <div class="card">
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Categories</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_1" style="">
                            <div class="card-body">

                                <ul class="list-menu">
                                    {% for category in categories %}
                                        <li><a class="select-category"
                                           {% if current_category == category.id %}
                                               style="color: #3d70ec"
                                           {% endif %}
                                           data-category="{{ category.id }}">{{ category.name }}
                                        </a></li>
                                    {% endfor %}
                                </ul>

                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group  .// -->


                </div> <!-- card.// -->

            </aside> <!-- col.// -->
            <main class="col-md-9">


                <div class="row">
                    {% for category in categories %}
                    <div class="col-md-4">
                        {% include 'parts/product_cart.html' with object=category %}
                    </div> <!-- col.// -->
                    {% endfor %}
                </div> <!-- row end.// -->

                {% include 'parts/paginator.html' with paginator=paginator current_page=current_page %}

            </main> <!-- col.// -->

        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<script>

</script>
{% endblock %}